.logo-image {
    width: 80px;
    margin: 0 0 0 0;
  }
  .main-navigation {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    padding: 0rem 2rem;
    border-bottom: 1px solid #f3f3f4;
  }
  .main-navigation ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px;
    position: relative;

  }

  .main-navigation ul li {
    height: 100%;
    display: flex;
    align-items: center;
    color: #6e6d7a;
    font-size: 15px;
    font-weight: 600;
    padding: 1rem;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
    position: relative;
  }
  .main-navigation ul li:hover {
    color: #0d0c22;
  }
  .dropdown-area-1 {
    width: 23rem;
    min-height: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    top: 4.9rem;
    left: -2rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 70px rgb(0 0 0 / 15%);
    border-radius: 12px;
  }

  .has-item:hover .dropdown-area-1 {
    display: flex;
  }

  .dropdown-area-1 ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .dropdown-area-1 ul li {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 1rem;
    margin: 0.1rem 0 0 0;
  }
  .dropdown-area-1 ul li a {
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  .submenu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .submenu-text-main {
    color: #0d0c22;
    font-size: 15px;
    font-weight: 500;
    margin:0;
  }
  .submenu-text-secondary {
    color: #6e6d7a;
    font-size: 12px;
    font-weight: 400;
    margin: 0
  }

  .subitems-icon1{
    font-size: 25px;
    color: #ea4c89;
    background-color: #ea4c8923;
    padding: 0.3rem;
    border-radius: 5px;
    margin-right: 15px;
  }
  .subitems-icon2 {
    font-size: 20px;
    color: #4cbdea;
    background-color: #4cbdea2f;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 15px;
  }
  .subitems-icon3 {
    font-size: 20px;
    color: #eada4c;
    background-color: #eada4c4f;
    padding: .5rem;
    border-radius: 5px;
    margin-right: 15px;
  }
  .subitems-icon4{
    font-size: 20px;
    color: #88ca6e;
    background-color: #20b65a11;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 15px;
  }

  .arrow-dashboard {
    display: none;
    font-size: 18px;
    color: #ea4c896b;
  }
 .arrow-heart {
    display: none;
    font-size: 18px;
    color: #4cbdea;
  }
  .arrow-brush {
    display: none;
    font-size: 18px;
    color: #eada4c;
  }
  .arrow-mail {
    display: none;
    width: 18px;
    height: 18px;
    color: #88ca6e;
  }
  .dropdown-area-1 ul li:hover {
    background-color: rgba(240, 240, 240, 0.589);
    border-radius: 8px;
  }
  .dropdown-area-1 ul li:hover .arrow-dashboard, .dropdown-area-1 ul li:hover .arrow-heart, .dropdown-area-1 ul li:hover .arrow-brush, .dropdown-area-1 ul li:hover .arrow-mail {
    display: flex;
    transition: transform opacity 200ms ease-in, -webkit-transform 200ms ease-in;
    opacity: 10;
    transition-duration: 3s;
  }

  .nav-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}


  form {
    display: flex;
    align-items: center;
    background-color: #f3f3f4;
    width: 7rem;
    border: none;
    padding: 0rem 1rem;
    border-radius: 8px;
    height: 2.5rem;
    border: 1px solid transparent;
  }

    
  .input-field {
    width: 100%;
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 15px;
    outline: none;

    color: rgb(157, 157, 157);
    font-weight: 500;
}

form:hover {
    border: 1px solid #ea4c89;
}
input.input-field {
    height: 60%;

}

  .primary-button {
    background-color: #ea4c89;
    padding: 0.7rem  1rem;
    box-sizing: border-box;
    border: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 600;
  }

  .primary-button:hover {
    background-color: #ea4c89ae;
  }
  .form-icon {
color: rgb(157, 157, 157);
font-size: 22px;
margin-right: 0.2rem;
}

.user-avatar {
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
}